<p>
  <b>Firstname:</b>
  <%= @profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @profile.lastname %>
</p>

<p>
  <b>Company:</b>
  <%= @profile.company %>
</p>

<p>
  <b>Website:</b>
  <%= @profile.website %>
</p>

<p>
  <b>Linkedin account:</b>
  <%= @profile.linkedin_account %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @profile.mobile %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user %>
</p>


<%= button_to "Edit", edit_profile_path(@profile), :method => "get", :class => "btn btn-primary" %>
<%= button_to "Back", profile_path(@profile), :method => "get", :class => "btn btn-primary" %>

