<p>
  <b>Start Date:</b>
  <%= @task.start_date %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>

<p>
  <b>Position:</b>
  <%= @task.position %>
</p>

<p>
  <b>End Date:</b>
  <%= @task.end_date %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>

<%= button_to 'Edit', edit_task_path(@task), :method => 'get', :class => 'btn btn-primary' %>
<%= button_to 'Back', tasks_path, :method => 'get', :class => 'btn btn-primary' %>

