<h1>Project Dashboard</h1>
<hr>
<div class="row">
	<div class="col-md-offset-8 col-md-4">
		<h3>My projects</h3>

          <table class="table">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Target Start</th>
              <th>Target End</th>
            </tr>

            <% @projects.each do |project| %>
                <tr>
                  <td><%= link_to_unless(project.name.nil?, project.name, edit_project_path(project)) %></td>
                  <td><%= link_to_unless(project.description.nil?, project.description, edit_project_path(project)) %></td>
                  <td><%= link_to_unless(project.target_start_date.nil?, project.target_start_date, edit_project_path(project)) %></td>
                  <td><%= link_to_unless(project.target_completion_date.nil?, project.target_completion_date, edit_project_path(project)) %></td>
                </tr>
            <% end %>
          </table>

          <br />

          <%= button_to "New Project", new_project_path, :method => 'get', :class => "btn btn-primary" %>
	</div>
</div>
