<%= form_for [@project, @sprint], html: {class: "form-horizontal"}  do |f| %>
  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% @sprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset>
      <div class="control-group">
        <%= f.label :description, :class => "control-label" %><br />
        <div class="controls">
          <%= f.text_area :description, :rows => "3", :placeholder => "Description of sprint..." %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :start_date, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :start_date %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :priority, :class => "control-label" %>
        <div class="controls">
          <%= f.number_field :priority %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :position, :class => "control-label" %>
        <div class="controls">
          <%= f.number_field :position %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :end_date, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :end_date %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :sprint_review, :class => "control-label" %><br />
        <div class="controls">
          <%= f.text_area :sprint_review, :rows => "3", :placeholder => "Review of sprint..." %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </fieldset>
<% end %>
<%= javascript_include_tag "datestuff" %>