<h1>Sprints for Project <%= @sprints.project.name %></h1>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Sprint review</th>
    <th>Priority</th>
    <th>Position</th>
  </tr>

<% @sprints.each do |sprint| %>
  <tr>
    <td><%= link_to_unless(sprint.description.nil?, sprint.description, edit_project_sprint_path(@project, sprint)) %></td>
    <td><%= link_to_unless(sprint.start_date.nil?, sprint.start_date, edit_project_sprint_path(@project, sprint)) %></td>
    <td><%= link_to_unless(sprint.end_date.nil?, sprint.end_date, edit_project_sprint_path(@project, sprint)) %></td>
    <td><%= link_to_unless(sprint.sprint_review.nil?, sprint.sprint_review, edit_project_sprint_path(@project, sprint)) %></td>
    <td><%= link_to_unless(sprint.priority.nil?, sprint.priority, edit_project_sprint_path(@project, sprint)) %></td>
    <td><%= link_to_unless(sprint.position.nil?, sprint.position, edit_project_sprint_path(@project, sprint)) %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to "New Sprint", new_sprint_path, :method => "get", :class => "btn btn-primary" %>
<%= button_to "Back", sprints_path, :method => "get", :class => "btn btn-primary" %>


