<h1>Sprints for Project <%= @sprints.project.name %></h1>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Sprint review</th>
    <th>Priority</th>
    <th>Position</th>
  </tr>

<% @sprints.each do |sprint| %>
  <tr>
    <td><%= link_to sprint.description, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.start_date, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.end_date, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.sprint_review, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.priority, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.position, edit_sprint_path(sprint) %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to "New Sprint", new_sprint_path, :method => "get", :class => "btn btn-default" %>
<%= button_to "Back", sprints_path, :method => "get", :class => "btn btn-default" %>