<%= form_for @project, html: {class: "form-horizontal"} do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %> 
      <div class="controls">
        <%= f.text_field :name, :placeholder => "My Project Name..." %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => "control-label" %> 
      <div class="controls">
        <%= f.text_area :description, :rows => "3", :placeholder => "My Project description..." %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :target_start_date, :class => "control-label" %> 
      <div class="controls">
        <%= f.text_field :target_start_date, :class => "datepicker" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :target_completion_date, :class => "control-label" %> 
      <div class="controls">
        <%= f.text_field :target_completion_date, :class => "datepicker" %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </fieldset>  
<% end %>
<%= javascript_include_tag "datestuff" %>