  <tr>
    <td><%= link_to product_backlog.title, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.description, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.iteration, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.reason, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.priority, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
  </tr>