  <tr>
    <td><%= link_to sprint.description, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.start_date, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.end_date, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.sprint_review, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.priority, edit_sprint_path(sprint) %></td>
    <td><%= link_to sprint.position, edit_sprint_path(sprint) %></td>
  </tr>