<legend>My Projects</legend>
<%= form_tag projects_path, :method => 'get', :id => 'projects_search' do %>
    <div class="form-horizontal">
        <div class="controls">
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', :name => nil, :class => 'btn btn-primary'  %>
        </div>
        <br>
        <div id="projects"><%= render 'projects' %></div>
    </div>
<% end %>
<br>
<%= button_to 'New Project', new_project_path, :method => 'get', :class => 'btn btn-primary' %>

