<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Target start date:</b>
  <%= @project.target_start_date %>
</p>

<p>
  <b>Target completion date:</b>
  <%= @project.target_completion_date %>
</p>

<table class="table">
	<tr>
		<th>Title</th>
		<th>Description</th>
	</tr>

	<% @project.product_backlogs.each do |product_backlog| %>
		<tr>
			<td><%= link_to product_backlog.title, edit_project_product_backlog_path(@project, product_backlog) %></td>
			<td><%= product_backlog.description %></td>
		</tr>
	<% end %>
</table>

<p>
 	<%= link_to 'New Product Backlog', new_project_product_backlog_path(@project) %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
