<h1>Stories for Project <%= @project.name %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Project</th>
    <th>Priority</th>
    <th>Best case estimate</th>
    <th>Worst case estimate</th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= link_to story.title, edit_project_story_path(@project, story) %></td>
    <td><%= link_to story.description, edit_project_story_path(@project, story)  %></td>
    <td><%= link_to story.project_id, edit_project_story_path(@project, story)  %></td>
    <td><%= link_to story.priority, edit_project_story_path(@project, story)  %></td>
    <td><%= link_to story.best_case_estimate, edit_project_story_path(@project, story)  %></td>
    <td><%= link_to story.worst_case_estimate, edit_project_story_path(@project, story)  %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to "New Story", new_project_story_path(@project) , :method => "get", :class => "btn btn-default" %>
