<h1>Product Backlog for Project <%= @sprints.project.name %></h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Iteration</th>
    <th>Reason</th>
    <th>Priority</th>
  </tr>

<% @product_backlogs.each do |product_backlog| %>
  <tr>
    <td><%= link_to product_backlog.title, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.description, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.iteration, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.reason, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
    <td><%= link_to product_backlog.priority, edit_project_product_backlog_path(product_backlog.project, product_backlog) %></td>
  </tr>
<% end %>
</table>

<br />

