<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product_backlog.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product_backlog.description %>
</p>

<p>
  <b>Iteration:</b>
  <%= @product_backlog.iteration %>
</p>

<p>
  <b>Reason:</b>
  <%= @product_backlog.reason %>
</p>

<p>
  <b>Priority:</b>
  <%= @product_backlog.priority %>
</p>


<%= button_to "Edit", edit_project_product_backlog_path(@project, @product_backlog), :method => "get", :class => "btn btn-default" %>
<%= button_to "Back", project_path(@project), :method => "get", :class => "btn btn-default" %>